<article class="card grid grid-cols-2 text-center">
  <span class="col-start-2 col-end-3 text-right text-xs">
    {{format_date created_at}}
  </span>
  <a
    href="/post/{{id}}"
    class="text-lg font-medium col-span-2 transition-colors duration-500 hover:text-rose-500"
  >
    {{post_title}}
  </a>
  <div class="bg-stone-400 col-span-2 my-2 rounded-lg px-2 py-4">
    <p class="text-left text-sm break-words">
      {{format_post_body post_body}}
    </p>
  </div>
  <a
    href="/posts/?author={{user.username}}"
    class="text-xs hover:text-violet-400 transition-colors duration-500"
  >
    <i class="far fa-user"></i>
    Author:
    {{user.username}}
  </a>
  <a
    href="/post/{{id}}"
    class="text-xs hover:text-violet-400 transition-colors duration-500"
  >
    Comments:
    {{comments.length}}
    <i class="far fa-comment-alt"></i>
  </a>

</article>